.content[data-v-e22975f3]{border-radius:12px;height:90vh!important;max-height:90vh!important;margin-bottom:0!important;padding-bottom:0!important;display:flex;align-items:center;place-content:center}
