:root {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(79, 79, 79, 0.87);
    background-color: #f0f2f5;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#app {
    height: 100vh;
}

.ant-page-header.pageHeader {
    border: 1px solid rgb(235, 237, 240);
    margin: 10px 16px 0px;
    background: #fff;
    border-radius: 12px 12px 12px 12px;
    padding: 15px 15px 15px 20px;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 15px rgba(56, 56, 56, 0.3);
    background-color: #fcfcfc;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(56, 56, 56, 0.3);
}

.ant-menu-light .ant-menu-item-selected {
    border-right: 3px solid;
}

span.nav-text {
    font-weight: 600;
}

li.ant-menu-item-selected span.nav-text {
    font-weight: bolder;
}

.ant-menu-light .ant-menu-item-selected {
    background-color: rgba(0, 0, 0, 0.06);
    width: 100% !important;
}

.ant-menu-inline .ant-menu-item {
    margin-inline: 8px;
}

.ant-menu .ant-menu-item {
    border-radius: 3px;
}

.ant-menu-light.ant-menu-inline .ant-menu-item {
    position: relative;
    padding-left: 44px;
    margin-left: 0;
    width: calc(100% - 3px);
}

.ant-col.ant-form-item-label {
    padding: 0 0 3px;
}

.ant-form-item
    .ant-form-item-label
    > label.ant-form-item-required:not(
        .ant-form-item-required-mark-optional
    )::before {
    display: none;
}

.ant-form-item-explain.ant-form-item-explain-connected.ant-form-show-help {
    padding-bottom: 2px;
}

.ant-btn-link {
    color: #153146;
}

.ant-btn-link:hover {
    color: #4d6f89;
}
.ant-btn-link:not(:disabled):hover {
    color: #4d6f89;
}

.ant-table-cell .align-column-center {
    text-align: center;
}

.filtros {
    margin-bottom: 2.5rem;
}

div.perso-label {
    font-size: 13px;
    color: #686868;
    margin-bottom: 0.2rem;
}
.filtros h3 {
    color: #747272;
}

.button-form-item {
    align-self: end;
}

.filtros-input .ant-col {
    padding-right: 15px;
}

.filtros-input .ant-row {
    justify-content: space-between;
}

.filtros-button {
    align-self: end;
    text-align: end;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
    background-color: #fff;

    -webkit-text-fill-color: rgba(0, 0, 0, 0.88);

    transition: background-color 5000s ease-in-out 0s;
}

input,
select,
text {
    color: rgba(0, 0, 0, 0.88);
}

td.ant-table-cell {
    font-size: 13px;
}

a {
    color: #153146;
}

a:hover {
    color: #4d6f89;
}

.ant-page-header .ant-page-header-heading-title {
    margin-right: 12px;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.88);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.modal-order-details .ant-collapse .ant-collapse-item .ant-collapse-header {
    font-size: 0.9rem;
    color: #000000b0 !important;
    font-weight: 600;
    padding-left: 0;
}
.modal-order-details
    .ant-collapse
    .ant-collapse-content
    .ant-collapse-content-box {
    padding-top: 0;
    padding-bottom: 0;
}

.ant-select-dropdown
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    color: rgba(0, 0, 0, 0.88) !important;
    font-weight: 600 !important;
}

.ant-select-dropdown
    .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: #4b4f511c !important;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-in-range::before {
    background-color: rgba(0, 0, 0, 0.04);
}

.ant-picker-dropdown
    .ant-picker-cell-in-view.ant-picker-cell-range-start:not(
        .ant-picker-cell-range-start-single
    )::before,
.ant-picker-dropdown
    .ant-picker-cell-in-view.ant-picker-cell-range-end:not(
        .ant-picker-cell-range-end-single
    )::before {
    background: rgb(0 0 0 / 4%);
}

.ant-picker-dropdown
    .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover::before,
.ant-picker-dropdown
    .ant-picker-cell-in-view.ant-picker-cell-range-start.ant-picker-cell-range-hover::before,
.ant-picker-dropdown
    .ant-picker-cell-in-view.ant-picker-cell-range-end.ant-picker-cell-range-hover::before,
.ant-picker-dropdown
    .ant-picker-cell-in-view.ant-picker-cell-range-start:not(
        .ant-picker-cell-range-start-single
    ).ant-picker-cell-range-hover-start::before,
.ant-picker-dropdown
    .ant-picker-cell-in-view.ant-picker-cell-range-end:not(
        .ant-picker-cell-range-end-single
    ).ant-picker-cell-range-hover-end::before,
.ant-picker-panel
    > :not(.ant-picker-date-panel)
    .ant-picker-dropdown
    .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-start::before,
.ant-picker-panel
    > :not(.ant-picker-date-panel)
    .ant-picker-dropdown
    .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-end::before {
    background: rgb(0 0 0 / 20%);
}

.ant-picker-dropdown
    .ant-picker-date-panel
    .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-start
    .ant-picker-cell-inner::after,
.ant-picker-dropdown
    .ant-picker-date-panel
    .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-end
    .ant-picker-cell-inner::after {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: rgb(0 0 0 / 20%);
    transition: all 0.3s;
    content: '';
}
.ant-select-dropdown
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    color: rgba(0, 0, 0, 0.88);
    font-weight: 600;
    background-color: #4b4f511c;
}

.ant-select-dropdown
    .ant-select-item-option-active:not(.ant-select-item-option-disabled):hover {
    background-color: #4b4f511c !important;
}

@media (prefers-color-scheme: light) {
    :root {
        color: rgba(79, 79, 79, 0.87);
        background-color: #f0f2f5;
    }
    a:hover {
        color: #4d6f89;
    }
    a {
        color: #153146;
    }
    button {
        background-color: #f9f9f9;
    }
}
